html,
body {
    height: 100%;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.app-container {
    flex: 1 0 auto;
}

.jumbotron {
    background-color: #9e0529;
    color: #fff;
}

.footer {
    flex-shrink: 0;
}
