.jumbotron {
    background-color: #9e0529;
    color: #fff;
}

.footer {
    background: #fff;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    font-size: 0.875rem;
    padding: 1.25rem 0;
    color: #9aa0ac;
}
